<div class="search-input">
  <div>
    <h3>🔍 Search for a user</h3>
    <div class="field">
      <input type="text" placeholder="e.g. johndoe" />
      <button>Search</button>
    </div>
    <div class="advanced-search">
      <h3>Advanced search</h3>
      You can search users by providing <strong>email</strong>, <strong>repos</strong> (more than N),
      <strong>location</strong> and/or <strong>followers</strong> (GTE) flags.<br/>
      <strong>Example:</strong> john num-repos:10 followers:1337
    </div>
  </div>
</div>
